---
import Layout from "../layouts/Layout.astro";
import Info from "../components/Info.astro";

const info = {
    email: "mail@ljstadler.com",
    github: "ljstadler",
    linkedin: "ljstadler",
};
---

<Layout title="Lohan Stadler">
    <main>
        <Info {...info} />
    </main>
</Layout>
