---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Links from "@/components/Links.astro";

const links = {
    email: "mail@ljstadler.com",
    github: "ljstadler",
    linkedin: "ljstadler",
};
---

<Layout title="Lohan Stadler" description="Lohan Stadler">
    <main>
        <h1 class="mb-2 text-4xl font-bold">Lohan Stadler</h1>
        <h3 class="mb-2">Software Developer</h3>
        <h3 class="mb-8">Cape Town, South Africa</h3>
        <Links {...links} />
    </main>
</Layout>
