@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "InterVariable", sans-serif;
    }
}

:root {
    --background: white;
    --foreground: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --foreground: white;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}
