---
interface Props {
    email: string;
    github: string;
    linkedin: string;
}

const { email, github, linkedin } = Astro.props;
---

<div>
    <a href={`mailto:${email}`}>
        <img src="/email.svg" alt="Email" />
    </a>
    <a href={`https://github.com/${github}`}>
        <img src="/github.svg" alt="GitHub" />
    </a>
    <a href={`https://www.linkedin.com/in/${linkedin}`}>
        <img src="/linkedin.svg" alt="LinkedIn" />
    </a>
</div>

<style>
    a {
        text-decoration: none;
    }
    img {
        margin: 16px;
        width: 48px;
    }
</style>
