---
import ArrowUpRight from "./ArrowUpRight.astro";

interface Props {
    email: string;
    github: string;
    linkedin: string;
}

const { email, github, linkedin } = Astro.props;
---

<ul
    class="flex md:flex-row flex-col space-x-0 md:space-x-4 space-y-2 md:space-y-0 mt-8 font-sm text-neutral-600 dark:text-neutral-300"
>
    <li>
        <a
            class="flex items-center hover:text-neutral-800 dark:hover:text-neutral-100 transition-all"
            rel="noopener noreferrer"
            target="_blank"
            href={`mailto:${email}`}
        >
            <ArrowUpRight />
            <p class="h-7">email</p>
        </a>
    </li>
    <li>
        <a
            class="flex items-center hover:text-neutral-800 dark:hover:text-neutral-100 transition-all"
            rel="noopener noreferrer"
            target="_blank"
            href={`https://github.com/${github}`}
        >
            <ArrowUpRight />
            <p class="h-7">github</p>
        </a>
    </li>
    <li>
        <a
            class="flex items-center hover:text-neutral-800 dark:hover:text-neutral-100 transition-all"
            rel="noopener noreferrer"
            target="_blank"
            href={`https://www.linkedin.com/in/${linkedin}`}
        >
            <ArrowUpRight />
            <p class="h-7">linkedin</p>
        </a>
    </li>
</ul>
